<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/normal.css">
    <title>The Infinite Jest - New</title>
</head>

<body>

    <h1>New Recommendation</h1>
    <div class="form-group">
        <label for="videoURL" class="content">Youtube URL:</label>
        <input class="form-control" placeholder="" id="videoURL" type="text" name="url" required>
    </div>
    <button id="submit-url-btn">Submit</button>



    <script src="/scripts/new.js"></script>
</body>

</html>