@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(
    99.9deg,
    rgba(27, 24, 31, 1) 21.2%,
    rgba(50, 4, 89, 1) 84.8%
  );

  text-align: center;
}

h1 {
  padding-top: 20px;
  font-family: 'Updock', cursive;
  font-size: 5rem;
  color: white;
}

.playerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rainbowBox {
  background-color: #302244;
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  margin: 20px auto;
}

.btn-container a {
  padding: 2px 4px;
  border: solid white 2px;
  text-decoration: none;
  background-color: white;
  border-radius: 8px;
  font-size: 2rem;
  color: black;
}

.btn-container a:hover {
  background-color: black;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: yellow;
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 22px;
}

footer a {
  text-decoration: none;
  color: black;
}
